public/
build/

# client
DTCD/node_modules/
DTCD/dist/
DTCD/*-lock*

# server 
server/__pycache__/
server/*log.*
server/venv/

server/plugins/*
!server/plugins/plugins.json

# vscode
.vscode

# logs
*.log